/*-------------------------INDEX . HTML -------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabeceraIndex{ 
    background-color: white;
    text-align: center; 
}

.bodyIndex{
    background-color: #3d6582;
    color: beige;
}

.mainIndex{
    /*Color de fondo de la pagina*/
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color:#3d6582;
    color: beige;
    align-items: center;
}

.titulo{
    text-align: center;
    color:rgb(36, 35, 35);
}

.Contactos{
    display: flex;
    justify-content: end;
    gap: 1%;
}


.seccionIndex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 70px;
    padding: 20px;
}


.footerIndex{
    text-align: center;  
    color: beige(255, 255, 255);
    height: 10vh;
}  






/*-------------------------AGENDA . HTML -------------------------*/
.bodyAgenda{
    background-color: #3d6582;
    color: beige;
}

.cabeceraAgenda{
    display: flex;
    background-color: beige;
    color:rgb(36, 35, 35);
    justify-content: center;
    align-items: center;
    height: 10vh;
}

/*main*/
.ArmandoRuta{
    height: 80vh;
}

.formularioAgenda{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    gap: 20px;
}

#enviar{
    text-align: center;
}

.footerAgenda{
    text-align: center;
    height: 10vh;
}





/*-------------------------PRODUCTOS . HTML -------------------------*/
.bodyProductos{
    background-color: #3d6582;
    color: beige;
}

.cabeceraProductos{
    display: flex;
    height: 15vh;
    background-color: rgb(231, 231, 216);
    color:rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
}

.MainProduc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

.tab-content{
    color:rgb(36, 35, 35);
}

.footerProductos{
    text-align: center;
    height: 10vh;
}





/*-------------------------VEHICULOS . HTML -------------------------*/
.bodyVehiculos{
    background-color: #3d6582;
    color: beige;
}

.cabeceraVehiculos{
    display: flex;
    background-color: beige;
    color:rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
    height: 15vh;
}

#carouselExampleFade{
    height: 400px;
    width: 500px;
}

/*Botones de next y prev*/
.carousel-control-prev{
    height: 40px;
    width: 40px;
}
.carousel-control-next{
    height: 40px;
    width: 40px;
}

.mainVehiculos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.tituloDisponible{
    display: flex;
    text-decoration: underline rgb(36, 35, 35);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footerVehiculos{
    text-align: center;
    height: 10vh;
}






/*-------------------------CLIENTES . HTML -------------------------*/
.bodyClientes{
    background-color: #3d6582;
    color: beige;
}

.cabeceraClientes{
    background-color: white;
    color:rgb(36, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.mainClientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    height: 80vh;
    gap: 10px;
}

.contenedorClientes{
    padding: 30px;
}

.footerClientes{
    text-align: center;
    height: 5vh;
    color: beige;
}

