/*-------------------------INDEX . HTML -------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabeceraIndex{ 
    background-color: white;
    text-align: center;
    border-bottom: 2px solid black;
}

#Logotipo{
   height: 20vh;
   width: 40vh;
}

body{
    /*Color de fondo de la pagina*/
    background-color:#3d6582;
    color: beige;
}

.titulo{
    text-align: center;
    color: #3d6582;
}

.Contactos{
    display: flex;
    justify-content: end;
    gap: 0.6%;
}

#whatsapp{
    
    border-radius: 50% solid;
}
#instagram{

    border-radius: 50%;
}
#gmail{
 
    border-radius: 50%;
}
#facebook{
    border-radius: 50%;
}

.navegacion a{
    text-decoration: dashed;
    margin: 10px;
    text-transform: capitalize;
    color: beige;

}


.espaciado{
    color: #3d6582;
}

footer{
    text-align: center;  
    color: beige(255, 255, 255);
}




/*-------------------------AGENDA . HTML -------------------------*/
.cabeceraAgenda{
    background-color: white;
    color: black;
    padding: 1vh;
    border-bottom: 2px solid black;
    text-align: center;
}

#enviar{
    text-align: center;
}


/*-------------------------PRODUCTOS . HTML -------------------------*/
.cabeceraProductos{
    height: 10vh;
    background-color: rgb(231, 231, 216);
    color:rgb(36, 35, 35);
    text-align: center;
    padding: 20px;
}

.MainProduc{
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 15px;
}

.mainProductos{
    height: 80vh;
}



.footerProductos{
    height: 10vh;
}


/*-------------------------VEHICULOS . HTML -------------------------*/
.cabeceraVehiculos{
    background-color: white;
    color: black;
    padding: 1vh;
    border-bottom: 2px solid black;
    text-align: center;
}

.tituloDisponible{
    text-decoration: underline;
}

.vehiculos{
padding: 1%;
}

/*-------------------------CLIENTES . HTML -------------------------*/
.cabeceraClientes{
    background-color: beige;
    color: black;
    padding: 1vh;
    border-bottom: 2px solid black;
    text-align: center;
}

#SubtituloCliente{
    margin: 20px;
}

.Barrio1{ /*17deAgosto*/

 padding: 20px;
}

.Barrio2{    /*Pirayui*/
padding: 20px;
}

.Barrio3{    /*Montaña*/
    padding: 20px;
}


