/*-------------------------INDEX . HTML -------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabeceraIndex{ 
    background-color: white;
    text-align: center;
}

#Logotipo{
   height: 20vh;
   width: 40vh;
}

.bodyIndex{
    background-color: #3d6582;
    color: beige;
}

.mainIndex{
    /*Color de fondo de la pagina*/
    background-color:#3d6582;
    color: beige;
    height: 75vh;
}

.titulo{
    text-align: center;
    color: #3d6582;
}

.Contactos{
    display: flex;
    justify-content: end;
    gap: 1%;
}


footer{
    text-align: center;  
    color: beige(255, 255, 255);
    height: 10vh;
}






/*-------------------------AGENDA . HTML -------------------------*/
.bodyAgenda{
    background-color: #3d6582;
    color: beige;
}

.ArmandoRuta{
    height: 75vh;
}

.cabeceraAgenda{
    display: flex;
    background-color: beige;
    color:rgb(36, 35, 35);
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#enviar{
    text-align: center;
}

.footerAgenda{
   
    height: 10vh;
}





/*-------------------------PRODUCTOS . HTML -------------------------*/
.bodyProductos{
    background-color: #3d6582;
    color: beige;
}

.cabeceraProductos{
    display: flex;
    height: 15vh;
    background-color: rgb(231, 231, 216);
    color:rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
}

.MainProduc{
    display: flex;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 75vh;
}

.tab-content{
    color:rgb(36, 35, 35);
}

.footerProductos{
    height: 10vh;
}





/*-------------------------VEHICULOS . HTML -------------------------*/
.bodyVehiculos{
    background-color: #3d6582;
    color: beige;
}

.cabeceraVehiculos{
    display: flex;
    background-color: beige;
    color:rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
    height: 15vh;
}

#carouselExampleFade{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.mainVehiculos{
    display: flex;
    justify-content: center;
    height: 75vh;
}

.tituloDisponible{
    display: flex;
    text-decoration: underline;
    justify-content: center;
    padding: 10px;
}

.footerVehiculos{
    height: 10vh;
}






/*-------------------------CLIENTES . HTML -------------------------*/
.bodyClientes{
    background-color: #3d6582;
    color: beige;
}

.cabeceraClientes{
    display: flex;
    background-color: beige;
    color: black;
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.mainClientes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}

.contenedorClientes{
    padding: 30px;
}

.footerClientes{
    height: 10vh;
    color: beige;

}


